In [1]:
# Cuando un a función llega return en cualquier punto, incluso dentro de un bucle, la función termina

In [3]:
# Esta misma función se hace con un while True

def pedir_numero():
    try:
        cadena = input("Introduce un número: ")
        n = int(cadena)
        return n
    except:
        print("Entrada no válida. Por favor, introduce un número.")
        return pedir_numero()

# Llamada a la función
pedir_numero()

Introduce un número:  2

2

In [ ]:
# try:
#    except Exception as e:

In [ ]:
# try -> el finally agrupa todas aquellas instrucciones criticas
# except
# else  -> Este es si superamos el tramo de las instrucciones criticas continuamos con el código
# finally

In [8]:
# Ejemplo
lista =[10,20,30]

try:
    n = int(input("Introduce un índice"))
    print(f'{lista[n]}')
except ValueError:
    print("El número no es válido")
except IndexError: 
        print("El índice no es válido")
except:
        print("exceptcion no controlada")

Introduce un índice 2

30

In [21]:
cadena1 ="1,2,3,4,5"
cadena2 ="1 2 3 4 5"

lista1= ["1","2","3","4"]
lista2=[1,2,3,4]

print(cadena1.split(','))
print(cadena2.split())

print(' '.join(lista1))
print(''.join(lista1))
print(','.join(lista1))
print('.'.join(list(map(lambda x: str(x),lista2))))

['1', '2', '3', '4', '5']
['1', '2', '3', '4', '5']
1 2 3 4
1234
1,2,3,4
1.2.3.4

In [34]:
# Cómo usar next para leer prinera línea aparte
with open('ejemplo.csv', encoding="utf-8") as f:
    #print(f.read())
    cabecera = next(f)  # de un objeto iterable puedes quedarte con la primera iteración
    for linea in f:
        print(linea)

Juan,12,150

María,25,172

Amparo,30,190

In [35]:
import csv

with open('ejemplo.csv', encoding="utf-8") as f:
    reader = csv.reader(f)
    next(reader)
    for tupla in reader:
        print(tupla)

['Juan', '12', '150']
['María', '25', '172']
['Amparo', '30', '190']

In [38]:
# Probando iter
def try_iterable(algo):
    try: 
        iter(algo)
    except:
        print("No es iterable")
    else:
        print("Es iterable")

try_iterable(100)
try_iterable(list("100"))

No es iterable
Es iterable

In [39]:
# Creación de una función any personalizada: devolverá un True si alguno es distinto de vacío

def any2(iterable):
    for item in iterable:
        if bool(item):
            return True
        else:
            return False

print(any([0,'',(),False,[]]))
print(any([0,'',(),False,1,[]]))

False
True

In [43]:
print(min(["pera", "manzana", "u"], key= lambda x: x[-1]))
print(max(["pera", "manzana", "u"], key= lambda x: x[-1]))

pera
u

In [52]:
# Ejercicio: lista de los cuadrados de los números entre 1 y 100 que sean múltiplos 5 o de 3

%pprint # esto lo que hace es que printee en horizontal
list(filter(lambda x: x%5 == 0 or x%3==0,list(map(lambda x: x**2,list(range(1,101))))))

Pretty printing has been turned OFF

[9, 25, 36, 81, 100, 144, 225, 324, 400, 441, 576, 625, 729, 900, 1089, 1225, 1296, 1521, 1600, 1764, 2025, 2304, 2500, 2601, 2916, 3025, 3249, 3600, 3969, 4225, 4356, 4761, 4900, 5184, 5625, 6084, 6400, 6561, 7056, 7225, 7569, 8100, 8649, 9025, 9216, 9801, 10000]

In [56]:
def cuadrado(x):
    return x ** 2

[cuadrado(x) for x in range(1,101) if x%5 == 0 or x%3 ==0]

[9, 25, 36, 81, 100, 144, 225, 324, 400, 441, 576, 625, 729, 900, 1089, 1225, 1296, 1521, 1600, 1764, 2025, 2304, 2500, 2601, 2916, 3025, 3249, 3600, 3969, 4225, 4356, 4761, 4900, 5184, 5625, 6084, 6400, 6561, 7056, 7225, 7569, 8100, 8649, 9025, 9216, 9801, 10000]

In [60]:
# sumar los cuadrados de los números de los números entre 1 y 10

print(sum(item ** 2 for item in range(1,11))) # recibe un generador
print(sum([item ** 2 for item in range(1,11)])) # recibe un comprehension list
print(sum(list(map(lambda x: x**2, range(1,11)))))

385
385
385

In [68]:
# Podemos devolver el conjunto
print({ item** 2 for item in [20,20,30]})
print(tuple( item** 2 for item in [20,20,30]))
print(dict((item,item** 2) for item in [20,20,30]))

{400, 900}
(400, 400, 900)
{20: 400, 30: 900}

In [82]:
# Función que recibe una cadena y devuelve una lista con las primeras letras de las palabras de longitud mayor o igual a 3

# map y filter
# y listas intensionales

def f(cadena):
    return list(map(lambda x: x[0] ,list((filter(lambda x: len(x) >= 3,cadena.split())))))

def f2(cadena):
    return[palabra[0] for palabra in cadena.split() if len(palabra) >= 3]

print(f("esto es una cadena")) #-> e u c
print(f2("esto es una cadena")) #-> e u c

print(f(input("Escribe una cadena")))
print(f2(input("Escribe una cadena")))

['e', 'u', 'c']
['e', 'u', 'c']

Escribe una cadena

[]

Escribe una cadena asasa

['a']

In [14]:
# Ejercicio diapo 214

scores =[100,90,95,90,80,70,0,80,90,90,0,90,100,75,20,30,50,90]

print(f"The number of total students is {len(scores[::3])}")

students={}

for i,score in enumerate(scores):
    stepList =scores[i * 3: (i + 1) * 3]
    if stepList:
        students[f'Student {i + 1}'] = stepList

valid_scores = [lista for lista in list(students.values()) if 0 not in lista]
print(f'The number os students with valid scores is {len(valid_scores)}')
print(valid_scores)

The number of total students is 6
The number os students with valid scores is 4
[[100, 90, 95], [90, 80, 70], [100, 75, 20], [30, 50, 90]]

In [21]:
# Propuesta del profe

scores =[100,90,95,90,80,70,0,80,90,90,0,90,100,75,20,30,50,90]
total_students = 0
valid_scores = []

for i in range(0,len(scores), 3):
    total_students += 1
    student = scores[i:i+3]
    if all(student):
        valid_scores.append(student)

print(f"The number of total students is {total_students}")
print(f'The number os students with valid scores is {len(valid_scores)}')
print(valid_scores)

The number of total students is 6
The number os students with valid scores is 4
[[100, 90, 95], [90, 80, 70], [100, 75, 20], [30, 50, 90]]

In [26]:
# Dado un diccionario imprime todas las claves cuyos valores sean números enteros

d = { 'casa': 5, 'bici': 3, 'gato': True, "perro": 3.2, "coche": "hola" }

listado = []
for k, v in d.items():
    if type(v) == int:
        listado.append(k)

listado

['casa', 'bici']

In [29]:
# Ejercicio
# Dada una lista de tuplas (producto, precio)
# Obtener un diccionario con el precio más alto para cada producto
# Ejemplo:
# lista=[('queso',11),('jamon',17),('queso',15.4),('aceite', 8.7),('jamon', 24),('aceite',12.5),('atun', 3.9)]
# El resultado sería:
# { queso: 15.4 , 'aceite': 12.5, 'jamon': 24, 'atun': 3.9}

lista=[('queso',11),('jamon',17),('queso',15.4),('aceite', 8.7),('jamon', 24),('aceite',12.5),('atun', 3.9)]
diccionario={}

for item, precio in lista:
    if diccionario.get(item):
        if diccionario.get(item) < precio:
            diccionario[item] = precio
    else:
        diccionario[item] = precio
        
diccionario

{'queso': 15.4, 'jamon': 24, 'aceite': 12.5, 'atun': 3.9}

In [36]:
lista=[('queso',11),('jamon',17),('queso',15.4),('aceite', 8.7),('jamon', 24),('aceite',12.5),('atun', 3.9)]
diccionario={}

for item, precio in lista:
    if diccionario.get(item):
            diccionario[item] = max(diccionario[item], precio)
    else:
        diccionario[item] = precio
        
diccionario

{'queso': 15.4, 'jamon': 24, 'aceite': 12.5, 'atun': 3.9}

In [55]:
# Toma la lista del ejercicio anterior y calcula el precio medio de cada producto

listado=[('queso',11),('jamon',17),('queso',15.4),('aceite', 8.7),('jamon', 24),('aceite',12.5),('atun', 3.9)]
diccionario2 = {}

for item, precio in listado:
    if diccionario2.get(item):
        diccionario2[item].append(precio)
    else:
        diccionario2[item] = [precio]
print(diccionario2)
valoresMedios = {}
for producto, listaPrecios in diccionario2.items():
    precioMedio = sum(listaPrecios)/len(listaPrecios)
    valoresMedios[producto] = precioMedio

valoresMedios

{'queso': [11, 15.4], 'jamon': [17, 24], 'aceite': [8.7, 12.5], 'atun': [3.9]}

{'queso': 13.2, 'jamon': 20.5, 'aceite': 10.6, 'atun': 3.9}

In [87]:
# Dado un fichero "frases0907.txt" con palabras, se pide:
# Saca el conjunto de palabras que aparezcan en 3 o más líneas distintas.
# Ejemplo:
# hola
# gato hola casa casa casa casa
# hola bici
# gato casa
# bici
# bici boli

# Resultado: {'hola', 'bici'}

with open("frases0907.txt") as f:
    cadena = f.read()
    print(set(cadena.split()))
    conjunto = set(cadena.split())
    diccionario = {}

    diccionario.fromkeys(conjunto)
    #for palabra in conjunto:
        #diccionario[palabra] = 0
        
    for frase in cadena.split("\n"):
        palabra = list(set(frase.split()))
        for p in palabra:
            if p in diccionario:
                diccionario[p] += 1
            else:
                diccionario[p] = 1
    
    result=[]
    for k,v in diccionario.items():
        if(v >= 3):
            result.append(k)
            
    print(set(result))

{'casa', 'bici', 'boli', 'hola', 'gato'}
{'bici', 'hola'}

In [98]:
# Ejercicio
# Crea una lista rellena con la cadena '.'
# El nº filas es 5 y el columnas es 5
# A continuacion lee una lista de tripletas (fila, col, letra) y pon la letra en la posicion correspondiente
# Ejemplo:
# dibujar = [(0,0,'A'),(0,1,'A'),(2,2,'X'),(3,2,'*')]

# AA...
# .....
# ..X..
# ..*..
# .....

# [['.','.','.','.','.'],
#  ['.','.','.','.','.'],
#  ['.','.','.','.','.'],
#  ['.','.','.','.','.'],
#  ['.','.','.','.','.']]

dibujar = iter([(0,0,'A'),(0,1,'A'),(2,2,'X'),(3,2,'*')])

q. q. q. q. .s
q. q. q. q. .s
q. q. q. q. .s
q. q. q. q. .s

AttributeError: 'set' object has no attribute 'contains'